/* Modify these settings to change
   the QI's intersection result
   page. */

/* Normal text */
body{
	margin:10px;
	padding:0px;
	background:#ffd;
	color:#000;
	font-family:serif;
	font-size: 16
}


/* Sections are:
  - "Input Quadrics",
  - "Type of the intersection"
  - "Parametrization of the intersection" */
div.section{
	padding:2px;
	font-family: serif;
	font-size: 24;
	font-weight: bold;
	color: #00b;
	text-align: left;
}

/* Subsections are used to display
   each component's name, for instance:
  "Smooth quartic, branch 1" */
div.subsection{
	padding:4px;
	font-family: arial;
	font-size: 18;
	color: #00b;
	text-align: left;
	text-decoration: underline;
}

/* Information are:
  - The type of the intersection in P(C),
  P(R), and R^3.
  - OPTIMALS/NEAR-OPTIMALS */
b.info{
	font-family: Sans-Serif;
	font-size:16;
	font-style: normal;
	font-weight: bold;
	color: #052;
}

/* Used to display every mathematical
  expression. */
b.math{
	font-family: Sans-Serif;
	font-size:16;
	font-style: normal;
	font-weight: bold;
}