/* Modify these settings to change
   the QI's intersection result
   page. */

/* Normal text */
body{
	margin:3%;
	background:#ffd;
	color:#000;
	font-family:Futura, Helvetica, Verdana;
	font-size: 85%;
}


/* Sections are:
  - "Input Quadrics",
  - "Type of the intersection"
  - "Parametrization of the intersection" */
div.section{
	font-family: Futura, Helvetica, Verdana;
	font-size: 150%;
	font-weight: bold;
	color: #00b;
	text-align: left;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left: -1%;
}

/* Subsections are used to display
   each component's name, for instance:
  "Smooth quartic, branch 1" */
div.subsection{
	font-family: Futura, Helvetica, Verdana;
	font-size: 100%; 
	font-weight: lighter;
	color: #00b;
	text-align: left;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: -1%;
}

b.default{
	font-family: Futura, Helvetica, Verdana; 
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	color: #000;
}

/* Information are:
  - The type of the intersection in P(C),
  P(R), and R^3.
  - OPTIMALS/NEAR-OPTIMALS */
b.info{
	font-family: Futura, Helvetica, Verdana; 
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
	color: #052;
}

/* Used to display every mathematical
  expression. */
b.math{
	font-family: Verdana, Futura, Helvetica;
	font-size: 95%;
	font-style: normal;
	font-weight: bold;
}
